# 產生資料成CSV

In [16]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import os 
import random

import pandas as pd

"""
透過 https://www.kaggle.com/carrie1/ecommerce-data
產生資料
"""

data = pd.read_csv('./data.csv', encoding='latin1')


# 更改 Country:
tw_set = [
'Zhongzheng District','Wanhua District','Datong District','Zhongshan District','Songshan District','Da an District','Xinyi District',
'Neihu District','Nangang District','Shilin District ','Beitou District','Wenshan District','Banqiao District','Xindian District','Zhonghe District','Xinzhuang District','Unspecified','Sanchong District','Tucheng District','Yonghe District','Xizhi District','Luzhou District','Lin District','Tianjin District','Linkou District','Three Gorges District','Wugu District','Yingge District','Taishan District','Bali District','Ruifang District' ,'Shenkeng District','Sanzhi District','Wanli District','Gongliao District','Pinglin District','Wulai District','Pingxi District']
data_copy = data.copy()
data_copy['only_one'] = 1
ori_count = data_copy.groupby('Country')['only_one'].sum()
ori_count = ori_count.sort_values(ascending=False)
ori_set = ori_count.index.tolist()
dictionary = dict(zip(ori_set, tw_set))
data['Country'] = data['Country'].map(dictionary) 

 # 更改 UnitPrice：
data['UnitPrice'] = data['UnitPrice'] * 100
_ = data.sort_values(by=['UnitPrice'],ascending=False)

# 更改 Description ：
data_copy2 = data_copy.copy() 
ori_count2 = data_copy2.groupby('Description')['only_one'].sum()
ori_count2 = ori_count2.sort_values(ascending=False)
des_list = ori_count2.index.tolist()
random.seed(10)
item_description_number = []
for _ in range(len((des_list))):
    item_description_number.append(random.randint(1000000, 9999999)) # 產生七位數隨機亂碼
item_description_number = [str(int) for int in item_description_number]
dictionary_description = dict(zip(des_list, item_description_number))
data['Description']= data['Description'].map(dictionary_description) 

# 更改欄位名稱:
columns_rename = {  'InvoiceNo':'InvoiceNo',
                    'StockCode':'ItemCode',	
                    'Description':'DescriptionCode',	
                    'Quantity':'Quantity',
                    'InvoiceDate':'SellDate',	
                    'UnitPrice'	:'NewTaiwanDollors',
                    'CustomerID':'CustomerID',
                    'Country':'District'}
data = data.rename(columns= columns_rename) 


def replace_str(df):
    return df.replace('/2010', '/2018')
data['SellDate'] = data['SellDate'].apply(replace_str)

data.to_csv('./re_data.csv', index=False)

data

'\n透過 https://www.kaggle.com/carrie1/ecommerce-data\n產生資料\n'

,InvoiceNo,ItemCode,DescriptionCode,Quantity,SellDate,NewTaiwanDollors,CustomerID,District
0,536365,85123A,1546686,6,12/1/2018 8:26,255.0,17850.0,Zhongzheng District
1,536365,71053,1466048,6,12/1/2018 8:26,339.0,17850.0,Zhongzheng District
2,536365,84406B,4510747,8,12/1/2018 8:26,275.0,17850.0,Zhongzheng District
3,536365,84029G,6497318,6,12/1/2018 8:26,339.0,17850.0,Zhongzheng District
4,536365,84029E,3876120,6,12/1/2018 8:26,339.0,17850.0,Zhongzheng District
...,...,...,...,...,...,...,...,...
541904,581587,22613,2299374,12,12/9/2011 12:50,85.0,12680.0,Datong District
541905,581587,22899,8879580,6,12/9/2011 12:50,210.0,12680.0,Datong District
541906,581587,23254,3140812,4,12/9/2011 12:50,415.0,12680.0,Datong District
541907,581587,23255,5796013,4,12/9/2011 12:50,415.0,12680.0,Datong District
541908,581587,22138,7142903,3,12/9/2011 12:50,495.0,12680.0,Datong District

# 轉存成 SQLite

In [156]:
import sqlite3
conn = sqlite3.connect('ecommerce.db')
data.to_sql('ecommerce', conn, if_exists='append', index = False)

# 讀取 db

In [157]:
import sqlite3


# data = pd.read_csv('./data.csv', encoding='latin1')
# conn = sqlite3.connect('ecommerce.db')
# data.to_sql('ecommerce', conn, if_exists='append', index = False)



conn = sqlite3.connect('ecommerce.db')
c = conn.cursor()
pd.read_sql('''SELECT * FROM ecommerce''', conn)

,InvoiceNo,ItemCode,DescriptionCode,Quantity,SellDate,NewTaiwanDollors,CustomerID,District
0,536365,85123A,1546686,6,12/1/2010 8:26,255.0,17850.0,Zhongzheng District
1,536365,71053,1466048,6,12/1/2010 8:26,339.0,17850.0,Zhongzheng District
2,536365,84406B,4510747,8,12/1/2010 8:26,275.0,17850.0,Zhongzheng District
3,536365,84029G,6497318,6,12/1/2010 8:26,339.0,17850.0,Zhongzheng District
4,536365,84029E,3876120,6,12/1/2010 8:26,339.0,17850.0,Zhongzheng District
...,...,...,...,...,...,...,...,...
541904,581587,22613,2299374,12,12/9/2011 12:50,85.0,12680.0,Datong District
541905,581587,22899,8879580,6,12/9/2011 12:50,210.0,12680.0,Datong District
541906,581587,23254,3140812,4,12/9/2011 12:50,415.0,12680.0,Datong District
541907,581587,23255,5796013,4,12/9/2011 12:50,415.0,12680.0,Datong District
541908,581587,22138,7142903,3,12/9/2011 12:50,495.0,12680.0,Datong District